body {
  padding-top: 50px;
  padding-bottom: 20px;
}


h1, h2, h3{
  font-family: 'Bad Script', cursive;
}

h1{
  font-weight: bolder;
}

#welcome {
  background-image: url(../images/originals/rh_jackiandy_lo.jpg);
  background-size: 100%;
  background-repeat: none;
  color: white;
  back
}

@media (max-width: 1100px){
  #welcome{
    background-size: 1300px;
    background-position-x: -150px;
  }
}

#ourstory {
  padding-top: 30px;
  padding-bottom: 30px;
  color: inherit;
  background-color: #FF9F80;
}

#weddingparty {
  padding-top: 30px;
  padding-bottom: 30px;
  color: inherit;
  background-color: #F4DEC2;
}

.wp-container{
  margin-bottom: 50px;
}

.wp-container h3{
  text-align: center;
}

.wp-pic{
  width: 100%;
  height: 100%;
}

#directions {
  background-color: #FFC48C;
  padding-top: 30px;
  padding-bottom: 30px;
  color: inherit;
}

#accommodations {
  padding-top: 30px;
  padding-bottom: 30px;
  color: inherit;
  background-color: #FF9F80;
}

#registry {
  padding-top: 30px;
  padding-bottom: 30px;
  color: inherit;
  background-color: #F4DEC2;
}