body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-image: url(../images/patterrific_patt_8delicateflowersstars01.jpg);
  background-repeat: repeat;
}


h1, h2, h3{
  font-family: 'Bad Script', cursive;
}

h1{
  font-weight: bolder;
  margin-top: 50px;
  margin-bottom: 20px
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}

p {
	background-color: #F0F5F4;
}

.highlight {
	background-color: #F0F5F4;

}

.imgborder {
	border: #EDB8A5;
	border-style:solid;
}

#nav {
  background-color: #EDB8A5;
}

#welcome {
  background-image: url(../images/originals/rh_jackiandy_lo.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
}

@media (max-width: 1100px){
  #welcome{
    background-size: 1300px;
    background-position-x: -150px;
  }
}

#ourstory {
  padding-top: 30px;
  padding-bottom: 30px;
  color: inherit;
}

#weddingparty {
  padding-top: 30px;
  padding-bottom: 30px;
  color: inherit;
}

.wp-container{
  margin-bottom: 50px;
  cursor: pointer;
}


.wp-container h3{
  text-align: center;
}

.wp-pic{
  width: 100%;
  height: 100%;
   -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.wp-pic:hover{
  -webkit-transform: rotate(-360deg);
     -moz-transform: rotate(-360deg);
       -o-transform: rotate(-360deg);
      -ms-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

#directions {
  padding-top: 30px;
  padding-bottom: 30px;
  color: inherit;
}

#lodging {
  padding-top: 30px;
  padding-bottom: 30px;
  color: inherit;
}

#registry {
  padding-top: 30px;
  padding-bottom: 30px;
  color: inherit;
}

#todo {
  padding-top: 30px;
  padding-bottom: 30px;
  color: inherit;
}

iframe, object, embed {
  max-width: 100%;
}